<div class="row">
    <h3>Owner Details</h3>
    <div class="col-md-12 contentContainer">
      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>IsAdmin</th>
            <th>Phone No</th>
            <th>Email</th>
            <th>Age</th>
            <th>Gender</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let owner of ownerData">
            <td>{{owner.idOwner}}</td>
            <td>{{owner.ownerName}}</td>
            <td>{{owner.isAdmin}}</td>
            <td>{{owner.ownerPhoneNumber}}</td>
            <td>{{owner.ownerEmail}}</td>
            <td>{{owner.ownerAge}}</td>
            <td>{{owner.ownerGender}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    </div>
