

<div class="select_class">
    <mat-form-field  *ngIf="(modalName == 'flats' || modalName == 'buildings' || modalName == 'owners')">
        <!-- <mat-select placeholder="Select Society" [formControl]="societyFormCtrl" multiple> -->
        <mat-select placeholder="Select Society"  [formControl]="societyFormCtrl">
          <!-- <mat-select-trigger>
            {{societyFormCtrl.value ? societyFormCtrl.value[0] : ''}}
            <span *ngIf="societyFormCtrl.value?.length > 1" class="example-additional-selection">
              (+{{societyFormCtrl.value.length - 1}} {{societyFormCtrl.value?.length === 2 ? 'other' : 'others'}})
            </span>
          </mat-select-trigger> -->
          <mat-option *ngFor="let s of societyList" [value]="s.societyid">{{s.societyname}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field *ngIf="(modalName == 'flats' || modalName == 'owners')">
          <!-- <mat-select placeholder="Select Society" [formControl]="buildingFormCtrl" multiple> -->
          <mat-select placeholder="Select flat"  [formControl]="buildingFormCtrl">
            <!-- <mat-select-trigger>
              {{buildingFormCtrl.value ? buildingFormCtrl.value[0] : ''}}
              <span *ngIf="buildingFormCtrl.value?.length > 1" class="example-additional-selection">
                (+{{buildingFormCtrl.value.length - 1}} {{buildingFormCtrl.value?.length === 2 ? 'other' : 'others'}})
              </span>
            </mat-select-trigger> -->
            <mat-option *ngFor="let building of buildingList" [value]="building.buildingname">{{building.buildingname}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field  *ngIf="modalName == 'owners'">
            <!-- <mat-select placeholder="Select Society" [formControl]="buildingFormCtrl" multiple> -->
            <mat-select placeholder="Select owners"  [formControl]="ownerFormCtrl" multiple>
              <mat-select-trigger>
                {{ownerFormCtrl.value ? ownerFormCtrl.value[0] : ''}}
                <span *ngIf="ownerFormCtrl.value?.length > 1" class="example-additional-selection">
                  (+{{ownerFormCtrl.value.length - 1}} {{ownerFormCtrl.value?.length === 2 ? 'other' : 'others'}})
                </span>
              </mat-select-trigger>
              <mat-option *ngFor="let flat of flatList" [value]="flat.flatname">{{flat.flatname}}</mat-option>
            </mat-select>
          </mat-form-field>
</div>
<div class="search">
    <button *ngIf="(modalName == 'flats' || modalName == 'buildings' || modalName == 'owners' )" type="button" (click)="onSubmit()">Submit</button>
</div>