<div>
  <button class="btn btn-primary" (click)="goBack()" >Back</button><br>
  <button class="btn btn-success pull-right" (click)="goToOwner()"> owners Page</button> <br>
  <!-- <a routerLink="owner"><button class="btn btn-success pull-right"> owner Page</button></a><br> -->
  <button class="btn btn-success pull-right" (click)="goToHome()"> home Page</button> <br>
  <a (click)="goPrevious()">Previous</a>---<a (click)="goNext()">next</a>
  <h3>Society Id is {{societyId}}</h3>
  <router-outlet></router-outlet>
</div>
