
<div class="row">
    <div class="col-xs-12 col-sm-12 text-left contentContainer">    
        Society ID:  {{societyInfo && societyInfo[0]?.societyid}} <br>
      Society Name: {{societyInfo && societyInfo[0]?.societyname}} ,  <br>     
      Society Address: {{societyInfo && societyInfo[0]?.address}},{{societyInfo && societyInfo[0]?.pincode}}<br><br>
      buildingname : {{this.param2}}<br>
    </div>
  </div>
<div class="row">
    <div class="col-xs-12 col-sm-12 text-center contentContainer">
      
      <table class="table">
          <thead>
            <tr>
              <th>flatid</th>
              <th>flatname</th>
              <th>ownerid</th>
              <th>pendingpayment</th>
              <th>payment button</th>
              <th>Calender</th>
            </tr>
          </thead>
          <tbody>
            <tr  *ngFor="let flat of flatList">
              <td>{{flat.flatid}}</td>
              <td>{{flat.flatname}}</td>
              <td>{{flat.ownerid}}</td>
              <td>{{flat.pendingpayment}}</td>
              <td> 
                  <button type="button" class="btn btn-info" data-toggle="modal" data-target="#pendingModal" (click)="paymentID(flat)">Pay</button>
              </td>
              <td> 
                <button type="button" class="btn btn-info" (click)="showCalender(flat.flatid)">Calender</button>
              </td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>
<div *ngFor="">
    {{building | json}}
</div>



<!-- Modal -->
<div id="pendingModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
      <form name="form" (ngSubmit)="f.form.valid" #f="ngForm" novalidate>
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
          <h4 class="modal-title">Payment Option</h4>  
        <button type="button" class="close" data-dismiss="modal">&times;</button>
          
      </div>
      <div class="modal-body">
          <input type="text" class="form-control" name="payAmount" placeholder="Enter Paynding Payment amount" [(ngModel)]="payAmount" 
          required />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="paymentMethod(payAmount)" >Pay</button>
        <div *ngIf="isClosedValue">
          <div data-dismiss="modal"></div>
        </div>
      </div>
    </div>
</form>
  </div>
</div>
<!-- <div>
  <calendar-component></calendar-component>
</div> -->