<mat-radio-group [(ngModel)] = "selectedOption" aria-label="Select an option"> 
  <mat-radio-button value="myFlats"   (click)="getflatList()"> My Flats </mat-radio-button>
  
  <mat-radio-button value="allFlats"   (click)="getFlatBySocietyId(selectedSocietyId)"> All Flats </mat-radio-button>
</mat-radio-group>
<br>
<mat-form-field>
  <mat-label>Society ID</mat-label>
  <mat-select [(ngModel)]="selectedSocietyId" (selectionChange)="showFlatAndSocietyDetailsById(selectedSocietyId)">
    <mat-option *ngFor="let uniqueid of uniqueSocietyId" [value]=uniqueid >
      {{uniqueid}}
    </mat-option>
  </mat-select>
</mat-form-field>
<div class="row" *ngIf="societyInfo">
    <div class="col-xs-12 col-sm-12 text-left contentContainer">   
      
      Society ID:  {{societyInfo && societyInfo[0]?.societyid}} <br>
      Society Name: {{societyInfo && societyInfo[0]?.societyname}} ,  <br>     
      Society Address: {{societyInfo && societyInfo[0]?.address}},{{societyInfo && societyInfo[0]?.pincode}}<br><br>
      buildingname : {{buildingName}}<br>
    </div>
  </div>
<div class="row" *ngIf="selectedIdFlatDetails">
    <div class="col-xs-12 col-sm-12 text-center contentContainer">
        <div *ngIf="showSpinner">
            <i class="fa fa-spinner fa-spin" style="font-size:24px"></i>
          </div>
        <h3>{{displayText}}</h3>
      <table *ngIf="!showSpinner && flatList[0] && flatList[0].flatid" class="table">
          <thead>
            <tr>
              <!-- <th>flatid</th> -->
              <th>flatname</th>
              <th>buildingname</th>
              <!-- <th>ownerid</th> -->
              <th>pendingpayment</th>
              <th>payment button</th>
              <!-- <th>Calender</th> -->
              <!-- <th>Show Owner</th> -->
              <th>Payment History</th>
              <!-- <th>Flat</th> -->
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let flat of selectedIdFlatDetails">
              <!-- <td>{{flat.flatid}}</td> -->
              <td>{{flat.flatname}}</td>
              <td>{{flat.buildingname}}</td>
              <!-- <td>{{flat.ownerid}}</td> -->
              <td>{{flat.pendingpayment}}</td>
              <td>
                <button mat-raised-button (click)="openPaymentDialog(flat)">Pay</button>
              </td>
              <td>
                  <button mat-raised-button (click)="openPaymentHistoryDialog(flat.flatid)">Payment History</button>
              </td>
              <!-- <td>
                  <button mat-raised-button (click)="showOwner(societyid, buildingName,flat.flatid)">Show Owner</button>
              </td> -->
              <!-- <td>
                  <button mat-raised-button (click)="deleteFlat(flat.flatid)">Delete</button>
              </td> -->
            </tr>
          </tbody>
        </table>
    </div>
  </div>
<div>
  <!-- <calendar-component></calendar-component> -->
</div>