<div class="container">
    <div class="row justify-content-center childContainer s-bg">
      <div class="col-xs-12 col-md-8 col-lg-8 col-xl-8">
          <!-- <app-society-header></app-society-header> -->
        <div class="row">
          <div class="col text-center">
            <h1><b>{{pageTitle1}}</b></h1>
            <!-- <p>{{pageDesc1}}</p> -->
          </div>
        </div>
        
        <div class="row align-items-center text-center">
            <div class="col">
                <form class="formStyle" #form1="ngForm" (ngSubmit)="onSubmit()">
                    <div class="form-group"> 
                      <mat-form-field class="example-full-width">
                        <input matInput name="name" class="form-control" #owner="ngModel" [(ngModel)]="ownerreg.ownerName" placeholder="Owner Name">
                      </mat-form-field>
                    </div>
                    <div class="form-group"> 
                      <mat-form-field class="example-full-width">
                          <input matInput name="email" class="form-control" #emailid="ngModel" [(ngModel)]="ownerreg.email" placeholder="Email">
                        </mat-form-field>
                    </div>
                    <div class="form-group"> 
                      <mat-form-field class="example-full-width">
                        <input matInput  name="phoneno" class="form-control" pattern="\d{10}$" #telno="ngModel" [(ngModel)]="ownerreg.phoneNumber" placeholder="Phone">
                      </mat-form-field>
                    </div>
                    <div class="form-group"> 
                      <mat-form-field class="example-full-width">
                        <input matInput  name="age" class="form-control" #ageno="ngModel" [(ngModel)]="ownerreg.age" placeholder="Age">
                      </mat-form-field>
                    </div>
                    <h5>Gender</h5>
                    <div class="form-group"> 
                    <mat-radio-group name="gender" [(ngModel)]="ownerreg.gender">
                        <mat-radio-button value=1>Male</mat-radio-button>
                        <mat-radio-button value=2>Female</mat-radio-button>
                      </mat-radio-group>
                    </div>
                    <div class="form-group"> 
                      <mat-form-field class="example-full-width">
                          <input matInput  name="password" class="form-control" #cname="ngModel" [(ngModel)]="ownerreg.password" placeholder="Password">
                        </mat-form-field>
                    </div>
                    <div class="from-check">
                        <mat-checkbox name="isAdmin" (change)="checkAdminFlag(isSocietyAdmin)" [(ngModel)]="isSocietyAdmin">Is Society Admin?</mat-checkbox>
                      </div>
                      <div class="form-group">
                        <mat-form-field class="example-full-width">
                          <input matInput name="flatName" class="form-control" placeholder="Flat Name" #fname="ngModel" [(ngModel)]="ownerreg.flatName">
                        </mat-form-field>
                      </div>
                      <div class="form-group">
                        <mat-form-field class="example-full-width">
                          <input matInput name="buildingName" class="form-control" placeholder="Building Name" #bname="ngModel" [(ngModel)]="ownerreg.buildingName">
                        </mat-form-field>
                      </div>
                      <div class="form-group">
                        <mat-form-field>
                          <mat-select name="societyIdName" placeholder="Select Society" #sname="ngModel" [(ngModel)]="ownerreg.societyId">
                            <mat-option *ngFor="let s of societyList" [value]="s.societyid" >
                              {{s.societyname}}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                    <div class="form-group text-center">
                        <button mat-raised-button color="primary">Register</button>
                    </div>
                
                  </form>
            </div>
        </div>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
  

