<div class="container">
  <div class="row justify-content-center childContainer s-bg">
    <div class="col-xs-12 col-md-8 col-lg-8 col-xl-8">
        <!-- <app-society-header></app-society-header> -->
      <div class="row">
        <div class="col text-center">
          <h1><b>{{pageTitle2}}</b></h1>
          <!-- <p>{{pageDesc2}}</p> -->
        </div>
      </div>
      
      <div class="row align-items-center text-center">
          <div class="col">
            <form class="formStyle" name="form" #sf="ngForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                  <mat-form-field class="example-full-width">
                    <input matInput name="flatName" class="form-control" placeholder="Flat Name" #fname="ngModel" [(ngModel)]="flatName">
                  </mat-form-field>
                </div>
                <div class="form-group">
                  <mat-form-field class="example-full-width">
                    <input matInput name="buildingName" class="form-control" placeholder="Building Name" #bname="ngModel" [(ngModel)]="blldgName">
                  </mat-form-field>
                </div>
                <div class="form-group">
                  <mat-form-field>
                    <mat-select name="societyIdName" placeholder="Select Society" #sname="ngModel" [(ngModel)]="flatreg.societyId">
                      <mat-option *ngFor="let s of societyList" [value]="s.societyid" >
                        {{s.societyname}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="form-group">
                  <mat-form-field class="example-full-width">
                    <input matInput name="ownerId" class="form-control" placeholder="Owner ID" #oid="ngModel" [(ngModel)]="flatreg.ownerid">
                  </mat-form-field>
                </div>
                <div class="form-group">
                  <mat-form-field class="example-full-width">
                    <input matInput name="tenantId" class="form-control" placeholder="Tenant ID" #oid="ngModel" [(ngModel)]="flatreg.tenantid">
                  </mat-form-field>
                </div>
                <div class="form-group text-center">
                  <button mat-raised-button color="primary">Register</button>
                </div>
            </form>
          </div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>

