<div class="tableClass" class="mat-elevation-z8">
  <table class="tableClass"  mat-table [dataSource]="dataSource">

    <!-- Position Column -->
    <ng-container matColumnDef="societyid">
      <th mat-cell *matHeaderCellDef> Society Id </th>
      <td mat-cell *matCellDef="let element"> {{element.societyid}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="societyname">
      <th mat-cell *matHeaderCellDef> Society Name </th>
      <td mat-cell *matCellDef="let element"> {{element.societyname}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="address">
      <th mat-cell *matHeaderCellDef> Address </th>
      <td mat-cell *matCellDef="let element"> {{element.address}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="pincode">
      <th mat-cell *matHeaderCellDef> Pincode </th>
      <td mat-cell *matCellDef="let element"> {{element.pincode}} </td>
    </ng-container>

    <tr mat-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator class="tableClass" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>

<!-- <div [hidden]="!(societyInfo && societyInfo[0]?.societyid)">
    <event-calendar-component></event-calendar-component>
</div>  -->