<div class="container mainContainer h-100">
  <div class="row h-100 justify-content-center align-items-center">
    <div class="col-xs-6 col-sm-6 text-left">
      <img src="assets/logo2.jpg" class="img-fluid" />
    </div>
    <div class="col-xs-6 col-sm-6 text-right">
      <a routerLink="/home" class='btn btn-outline-warning btn'>
        Home
      </a>
    </div>
  </div>
  <br>
  <div class="row h-100 justify-content-center align-items-center">
    <div class="col-sm-6 text-center">
      <h1>Lorem Ipsum</h1>
      <div>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur</div>
    </div>
    <div class="col-sm-6 text-right">
      <img src="assets/Smart-Government-Solutions.png" class="img-fluid" />
    </div>
  </div>
  <div class="row">

    <div class="col-xs-12 col-sm-12 text-center contentContainer">
      <a routerLink="/societyManagment" class="btn btn-outline-warning homeicons w-100">Society Management</a>
    </div>

  </div>
</div>